body {
    background: #ffffff;
    margin: 5em;
    font-family: 'lucida grande',helvetica,sans-serif;
    font-size: 13pt;
}

h1 { 
    font-size: 16pt;
}
h2 {
    font-size: 13pt;
    margin-top: 3em;
}
h3 { 
    font-size: 13pt;
    font-weight: normal;
    text-transform: lowercase;
    font-variant: small-caps;
    margin-top: 2.5em;
    margin-left: 1em
}
h2 + h3 {
    margin-top: 0;
}

p {
    line-height: 130%;
    margin-left: 1em;
    width: 30em;
}

.l { 
    font-variant: small-caps;
}
.f { 
    color: #f90;
    font-style: italic;
    font-variant:normal;
}